<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534560917939-9cc5p8md3f1dfu0ner55io715eon8ps0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534560917939-9cc5p8md3f1dfu0ner55io715eon8ps0</string>
	<key>API_KEY</key>
	<string>AIzaSyDNnx3RypYBN_ntF7f-IvMcuCnkjnhgSqo</string>
	<key>GCM_SENDER_ID</key>
	<string>534560917939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projectfluttervandad.vandadFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>vandad-my-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>vandad-my-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534560917939:ios:553d5803abedf8b082e3c6</string>
</dict>
</plist>